app/
definitions/
docs/
tests/
_build/tests
gulpfile.js
tsconfig.json
tsconfig.tests.json
tsd.json
tmp/
.devcontainer/
.vscode/
.github/
.azure-pipelines/
typings/
_tests/
test-results.xml
tfx-cli-*.tgz
gulp.cmd
.editorconfig
.gitattributes
.gitignore
.mocharc.json
.azure-pipelines/