# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# This pipeline will be extended to the OneESPT template
# CI and PR build script
#
# There should be no deep magic here. The developer experience and CI experience
# must remain as close to one another as possible.

trigger:
- master

variables:
- group: npm-tokens
# Debug/verbose output variables for CLI and mock server
- name: DEBUG_CLI_OUTPUT
  value: 'false'
- name: DEBUG_MOCKSERVER_OUTPUT
  value: 'false'
# Enable verbose tracing for TFX CLI (if supported)
- name: TFX_TRACE
  value: ''
resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    settings:
      skipBuildTagsForGitHubPullRequests: true
    # featureFlags:
      # autoBaseline: false
    # sdl:
    #   baseline:
    #     baselineSet: default
    #     baselineFile: $(Build.SourcesDirectory)/.gdn/.gdnbaselines
    pool:
      name: 1ES-ABTT-Shared-Pool
      image: abtt-windows-2025
      os: windows
    stages:
    - stage: stage
      jobs:
      - job: job
        templateContext:
          outputs:
          - output: pipelineArtifact
            displayName: 'Publish tfx-cli package to pipeline artifacts'
            targetPath: '$(Build.ArtifactStagingDirectory)'
            artifactType: 'pipeline'
            artifactName: 'tfx-cli-package'
        steps:
        - template: /.azure-pipelines/common-steps.yml@self

        # Install node 16 for CodeQL 3000
        - task: NodeTool@0
          displayName: Use node 16
          inputs:
            versionSpec: "16.x"
