# Common steps template
#
# Things which happen regardless of CI, PR, or release builds
steps:
  - checkout: self
    clean: true

  - task: UseNode@1
    displayName: Use Node 16
    inputs:
      version: "16.x"

  - task: NpmAuthenticate@0
    inputs:
      workingFile: .npmrc

  - script: npm i -g npm@8.19.4 --force
    displayName: Use npm version 8.19.4

  - bash: |
      npm ci
      npm run build
    displayName: Build TFX CLI

  - bash: |
      npm test
    displayName: Run Tests

  # Generate a pipeline artifact so we can publish the package manually if there are issues with automation
  - bash: |
      npm pack
      cp *.tgz '$(Build.ArtifactStagingDirectory)'
    displayName: Run npm-pack and copy to ArtifactStagingDirectory
